.background {
    width: 100%;
    height: 100vh;
}

footer .footer-content {
    width: 100%;
    background-color: #1f0b30;
    border-radius: 0;
}

header {
    background-color: #1f0b30;
    position: relative;
    /* border-bottom: 1px solid lightgrey; */
}

.sub-header {
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: #1f0b30;
}

.background {
    width: 100%;
    height: 152vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background .container {
    position: absolute;
    top: 40vh;
    width: 80%;
    height: 155vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(31, 11, 48, 0.3);
}

.background .container img {
    position: relative;
    top: -15vh;
    left: 40vw;
    width: 30vw;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(31, 11, 48, 0.3);
}

.background .container .details-box {
    position: absolute;
    top: 5vh;
    left: 8vw;
    color: #1f0b30;
}

.background .container .details-box .title h1 {
    font-size: 2.4em;
}

.background .container .details-box .title p {
    font-weight: 600;
    font-size: 1.4em;
}

.background .container .details-box .details {
    padding-top: 40px;
}

.background .container .details-box .details .rating {
    font-size: 3em;
}

.background .container .details-box .details p {
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 10px;
}


.background .container .review-box {
    position: absolute;
    left: 0;
    padding-top: 20px;
    width: 235%;
    display: flex;
    flex-direction: column;
}

.background .container .review {
    width: 100%;
    border: 1px solid #1f0b30;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #1f0b30;
    color: white;
}

.background .container .review p.content {
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 5px;
}

.background .container .review p.reviewer {
    font-style: italic;
    padding-left: 30px;
}

.background .container .department-box h1 {
    font-size: 2em;
}

.background .container .department-box h3 {
    font-weight: 600;
}

.background .container .department-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -6.4vw;
    top: 90vh;
    width: 76vw;
    justify-content: center;
    align-items: center;
}

/* 
.background .container .department-box .dep-container h1 {
    padding-top: 40px;
} */

.background .container .department-box .dep-container {
    position: relative;
    width: 82%;
    height: 40vh;
    color: white;
    background-color: #1f0b30;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
}

.background .container .department-box .dep-container .dep-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.background .container .department-box .dep-container .dep-header button {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
    font-weight: 600;
    height: 8vh;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.background .container .department-box .dep-container .dep-header .leftie {
    border-right: 1px solid lightgrey;
    border-radius: 15px 0 0 0;
}


.background .container .department-box .dep-container .dep-header .rightie {
    border-left: 1px solid lightgrey;
    border-radius: 0 15px 0 0;
}

.background .container .department-box .dep-container .dep-results {
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background .container .department-box .dep-container .dep-results ol {
    list-style: none;
}

.background .container .department-box .dep-container .dep-results a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 600;
}

#dep-2,
#dep-3 {
    width: 0;
    height: 0;
    visibility: hidden;
}